# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Arquivos compilados
*.class

# Logs
*.log

# Sistema Operacional
.DS_Store
Thumbs.db


# Variáveis de ambiente
.env

# Configurações locais
src/main/resources/application-local.properties

# Arquivos auxiliares
HELP.md